`<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag Description -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Page Title -->
    <title th:text="#{page.title.menu.transaction.form}">Account | Login</title>
</head>
<body>
<div>
    <form class="form-horizontal" action="transactionMenuForm.html" th:action="@{${#httpServletRequest.servletPath}}"
          th:object="${menu}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-3" for="transactionOption" th:text="#{form.label.witdhrawal.option}">
                Please choose option
            </label>
            <div th:each="entry, stats : ${transactionOptions}" th:with="tO=${entry.value}" class="col-sm-9">
                <input id="transactionOption" type="radio" name="transactionOption" th:field="*{transactionOption}" th:value="${entry.key}" th:text="${tO}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-primary" type="submit" name="save" th:text="#{form.button.account.submit}">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>`